* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;

}

header {
    display: flex;
    height: 100px;
    background: grey;
    justify-content: space-around;
}